<!DOCTYPE html>
<html>
    <head>
        <title>Web service</title>
    </head>
    <body>
        <h3>El siguiente programa tenia como fin tomar 3 datos (temperatura, humedad y tiempo) para posteriormente
            introducirlos en un archivo csv y adicionalmente la linea de tiempo actual. para el archivo csv utilizamos pandas,
            una liberira de python que nos ayuda a manejar diferentes tipos de datos de forma mas sencilla. Para la linea de tiempo
            se utilizò la libreria time. Se podria implementar singleton para el almacenamiento de los datos. 
        </h3>
    </body>
</html>